.collection-preview {
	display: flex;
	margin-bottom: 30px;
	flex-direction: column;

	@media screen and (max-width: 800px) {
		align-items: center;
	}

	.title {
		margin-bottom: 25px;
		font-size: 28px;
	}

	.preview {
		display: flex;
		justify-content: space-between;

		@media screen and (max-width: 800px) {
			display: grid;
			grid-template-columns: 1fr 1fr;

			grid-gap: 1rem;
		}
	}
}
