.collection-item {
	display: flex;
	position: relative;
	width: 22vw;
	height: 350px;
	align-items: center;
	flex-direction: column;

	.image {
		margin-bottom: 5px;
		background-position: center;
		background-size: cover;
		width: 100%;
		height: 95%;
	}

	.custom-button {
		display: none;
		position: absolute;
		top: 255px;
		opacity: .7;
		width: 80%;

		@media screen and (max-width: 800px) {
			display: block;
			opacity: .9;
			padding: 0 10px 0 10px;
			min-width: unset;
		}
	}

	&:hover {
		.image {
			opacity: .8;
		}
		.custom-button {
			display: flex;
			opacity: .85;
		}
	}

	@media screen and (max-width: 800px) {
		width: 46vw;
		&:hover {
			.image {
				opacity: unset;
			}
			.custom-button {
				opacity: unset;
			}
		}
	}

	.collection-footer {
		display: flex;
		width: 100%;
		height: 5%;
		font-size: 18px;
		justify-content: space-between;

		.name {
			margin-bottom: 15px;
			width: 90%;
		}

		.price {
			width: 10%;
		}
	}
}
