.cart-dropdown {
	display: flex;
	position: absolute;
	top: 90px;
	right: 40px;
	z-index: 5;
	border: 1px solid black;
	background-color: white;
	padding: 20px;
	width: 240px;
	height: 340px;
	flex-direction: column;

	.empty-message {
		margin: 50px auto;
		font-size: 18px;
	}

	.cart-items {
		display: flex;
		height: 240px;
		overflow: scroll;
		flex-direction: column;
	}

	button {
		margin-top: auto;
	}
}
