.checkout-page {
	display: flex;
	margin: 50px auto 0;
	width: 55%;
	min-height: 90vh;
	align-items: center;
	flex-direction: column;

	.checkout-header {
		display: flex;
		border-bottom: 1px solid darkgrey;
		padding: 10px 0;
		width: 100%;
		justify-content: space-between;

		.header-block {
			width: 23%;
			text-transform: capitalize;

			&:last-child {
				width: 8%;
			}
		}
	}
	button {
		margin-top: 50px;
		margin-left: auto;
	}
	.total-price {
		margin-top: 30px;
		margin-left: auto;
		font-size: 36px;
	}

	.test-warning {
		margin-top: 40px;
		text-align: center;
		color: red;
		font-size: 24px;
	}
}
